%p
  = f.label :name 
  = f.text_field :name 
%p
  = f.label :email 
  = f.text_field :email 
%p
  = f.label :website 
  = f.text_field :website 
%p
  = f.label :body 
  = f.text_area :body 
%p
  = f.label :approved 
  = f.check_box :approved 