%p
  = f.label :name 
  = f.text_field :name 
%p
  = f.label :email 
  = f.text_field :email 
%p
  = f.label :website 
  = f.text_field :website_url
%p
  = f.label :comment
  = f.text_area :comment
%p
  = f.label :approved 
  = f.check_box :approved 