%h3
  Comments
- @comments.each do |t|
  .comment
    %h4
      = boolean_to_image_small(t.approved)
    %p
      %b Nombre:
      = h t.name
    %p 
      %b Email:
      = h t.email
    %p
      %b Website:
      = h t.website_url
    %p
      %b Articulo:
      = link_to(t.article.title, admin_article_path(t.article))
    %p
      %b Fecha: 
      = t.created_at
    %p
      %b Comentario:
      = h t.comment
    %p
      = approve_link(t)
      |
      = link_to "SPAM", :action => "mark_spam", :id => t.id
      |
      = link_to 'Leer', admin_comment_path(t)
      |
      = link_to 'Editar', edit_admin_comment_path(t)
      |
      = link_to 'Delete', admin_comment_path(t), :confirm => 'Estas Seguro?', :method => :delete
