<p>
  <b>Name:</b>
  <%=h @comment.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @comment.email %>
</p>

<p>
  <b>Website:</b>
  <%=h @comment.website %>
</p>

<p>
  <b>Body:</b>
  <%=h @comment.body %>
</p>

<p>
  <b>Approved:</b>
  <%=h @comment.approved %>
</p>


<%= link_to 'Edit', edit_admin_comment_path(@comment) %> |
<%= link_to 'Back', admin_comments_path %>
