
<h2> Por favor deje su mensage</h2>
  
  <% form_for(@message) do |f| %>

    <% unless f.error_messages.empty? %>
      <div class="error">
        Por Favor deje su nombre, email y mensaje.
      </div>    
    <% end %>

    <br />
    <%= f.label :name, "Nombre" %>
    <br />
    <%= f.text_field :name, :size => 42 %> *
    <br />

    <br />
    <%= f.label :email, "Email" %>
    <br />
    <%= f.text_field :email, :size => 42 %> *
    <br />
  
    <br />  
    <%= f.label :phone_number, "Telefono" %>
    <br />
    <%= f.text_field :phone_number, :size => 42 %>
    <br />
  
    <br />
    <%= f.label :body, "Mensage" %>
    <br />
    <%= f.text_area :body, :rows => 10, :cols => 40 %> *
    <br />
  
    <br />
    <%= f.check_box :urgent_contact %>
    <%= f.label :urgente, "Contacteme urgente"%>
    <br />

    <br />
    <%= f.submit "Mandar Message" %>

  <% end %>


<%= render :partial => "/shared/members" %>