<h2> Por favor deje su mensage</h2>
<% form_for(@message) do |f| %>
  <%= f.error_messages %>

  <p>
    Nombre 
    <br />
    <%= f.text_field :name, :size => 30  %>
  </p>
  <p>
    Email
    <br />
    <%= f.text_field :email, :size => 30  %>
  </p>
  <p>
    Numero de Telefono <br />
    <%= f.text_field :phone_number, :size => 30 %>
  </p>
  <p>
    Mensage <br />
    <%= f.text_area :body, :rows => 10, :cols => 46 %>
  </p>
  <p>
		Contacteme urgente
    <%= f.check_box :urgent_contact %>
  </p>
  <p>
    <%= f.submit "Mandar Message" %>
  </p>
<% end %>

<p> Luego le contactaremos. </p>

<p><i> * Su Informacion Personal no sera compartida o divulgada a otros medios.</i></p>



<br />

<div class='article'>

<p>
  <h3>Lista de Miembros del Consejo Pastoral</h3>
  <ul>
  	<li>Sor Margarita Pérez (Asistencia Espiritual), 087 035 9003, E-mail: margarita@fma.or.th</li>
  </ul>

  <ul>
  	<li>Marcela Kelley (Boletín, Registro y Comunicaciones), 081-583 6989, E-mail: mkelley507@gmail.com</li>
  </ul>
  <ul>
  	<li>Eva Vichukit (Actividades), 086-510-9912, E-mail: evavichukit@yahoo.com</li>
  </ul>
  <ul>
  	<li>Patricia Gómez (Tesorera), 081-802-6584, E-mail: patricia_chaiparnich@yahoo.com</li>

  </ul>
  </ul>
  <li><h3><em><strong>La Santa Misa en español se celebra todos los sábados a las 18 horas</strong></em></h3></li>
  </ul>
  </ul>
  	<h3>Catequesis de Confirmación y de Primera Comunión</h3>
  <ul>
  	<li>Esterlicia Lopez, MI <br />

  	<li>Cristina Gonzalez, MI </li>
  </ul>
  	<h3>Dirección</h3>
  <ul>
  	<li>Casa Provincial de las Hermanas Salesianas</li>
  </ul>
  <ul>

  	<li>124 Saladaeng Road Bangkok 10500</li>
  </ul>
  <ul>
  	<li>Hna. Margarita Pérez: 087 035 9003</li>
  </ul>
  <ul>
  	<li>Telefonos: 02-233-3430, 02-234-5034</li>

  </ul>
  	<h3>E-mail</h3>
  <ul>
  	<li>comunidadcatolicabk@ gmail.com</li>
  </ul>
  	<h3>Administradores del sitio </h3>
  <ul>

  	<li>Marcela Kelley: mkelley507@gmail.com</li>
  </ul>
  <ul>
  	<li>Frederico Araujo: fred.the.master@gmail.com, 083-779-7333</li>
  </ul>
</p>
</div>