<h2> Por favor deje su mensaje</h2>
  
  <% form_for(@message) do |f| %>

    <% unless f.error_messages.empty? %>
      <div class="error">
        Por Favor deje su nombre, email y mensaje.
      </div>    
    <% end %>

    <br />
    <%= f.label :name, "Nombre" %>
    <br />
    <%= f.text_field :name, :size => 42 %> *
    <br />

    <br />
    <%= f.label :email, "Correo Electronico (email)" %>
    <br />
    <%= f.text_field :email, :size => 42 %> *
    <br />
  
    <br />  
    <%= f.label :phone_number, "Número de Teléfono" %>
    <br />
    <%= f.text_field :phone_number, :size => 42 %>
    <br />
  
    <br />
    <%= f.label :body, "Mensaje" %>
    <br />
    <%= f.text_area :body, :rows => 10, :cols => 40 %> *
    <br />
  
    <br />
    <%= f.check_box :urgent_contact %>
    <%= f.label :urgente, "Contácteme urgente"%>
    <br />

    <br />
    <%= f.submit "Mandar Message" %>

  <% end %>
  <p>Nos comunicaremos con Ud. a la brevedad.  Muchas gracias.</p>
  <span class="small_tip centered">
    Su información personal no será divulgada o compartida con otros medios
  </span>

<%= #render :partial => "/shared/members" 
%>