
%p
  = error_message_on :event, :title, "Nombre ", "","inputError" 
%p
  %b Titulo del Evento:
  %br
  = text_field :event, :title, :size => "26" 
%p
  = error_message_on :event, :description, "Descripcion ", "","inputError"
%p
  %b  Descripcion:
  %br
  = text_area :event, :description, :rows => 4, :cols => 24
%p
  %b  Status:
  = select :event, :event_status, Event::EVENT_STATUS
%p
  %b  Prioridad
  = select :event, :event_priority, Event::PRIORITIES
%p
  %b  Fecha que Empieza
  = datetime_select :event, :start_date
%p
  %b  Fecha que Termina
  = datetime_select :event, :end_date