%h3 Eventos
%table{:id => "gradient-style"}
  %tr
    %th Titulo
    %th Status
    %th Empiza
    %th Termina
    %th Prioridad
    %th Creado
    %th
    %th
  %tr
    - for event in @events
      %tr
        %td
          = link_to event.title, admin_event_path(event)
        %td
          = event.event_status
        %td
          = event.start_date.to_s(:short)
        %td
          = event.end_date.to_s(:short)
        %td
          = event.event_priority
        %td
          = event.created_at.to_s(:short)
        %td
          = link_to 'Editar', edit_admin_event_path(event)
        %td
          = link_to 'Deletar', admin_event_path(event), :confirm => 'Estas Seguro?', :method => :delete

= link_to 'Crear Nuevo Evento', new_admin_event_path 

