%h3
  = @event.title

%p 
  %b Description:
  = @event.description

%p 
  %b Status:
  = @event.event_status

%p 
  %b Start: 
  = @event.start_date.to_s(:short)

%p 
  %b End: 
  = @event.end_date.to_s(:short)

%p 
  %b Priority
  = @event.event_priority

%p
  %b Create Date:
  = @event.created_at.to_s(:long)

%p
  %b Last Update:
  = @event.updated_at.to_s(:long)

= link_to 'Edit', edit_admin_event_path(@event)
|
= link_to 'Back', admin_events_path
