%h3
  = @event.title

%p 
  %b Descripcion:
  = @event.description

%p 
  %b Status:
  = @event.event_status

%p 
  %b Empieza: 
  = @event.start_date.to_s(:short)

%p 
  %b Termina: 
  = @event.end_date.to_s(:short)

%p 
  %b Prioridad
  = @event.event_priority

%p
  %b Creado en:
  = @event.created_at.to_s(:long)

%p
  %b Actualizado en:
  = @event.updated_at.to_s(:long)

= link_to 'Editar', edit_admin_event_path(@event)
|
= link_to 'Volver', admin_events_path
