
= f.hidden_field :commentable_id
= f.hidden_field :commentable_type

= f.error_messages

%table
  %tr
    %td= f.label :name, "Nombre: "
    %td= f.text_field :name, :value => @comment.name, :size => 44
  %tr
    %td= f.label :email
    %td= f.text_field :email, :value => @comment.email, :size => 44
  %tr
    %td= f.label :website_url, "Website"
    %td= f.text_field :website_url, :value => "http://", :size => 44
  %tr
    %td= f.label :comment,"Comentario"
    %td= f.text_area :comment, :cols => 38, :rows => 12

= f.submit "Dejar comentario"