
%fieldset
  %legend 
    Main
  
  %p
    = f.label "Categoria"
    %br
    = f.select :category, Category::LIST.collect
    
  %p
    = f.label "Titulo"
    %br
    = f.text_field :title, :size => 60

  %p
    = f.label "Permalink (automatico)"
    %br
    = f.text_field :permalink, :size => 60
  
  %p
    = f.label "Autor"
    %br
    = f.text_field :author, {:size => 24, :value => current_user.login}

%fieldset
  %legend 
    Settings

  %p
    = f.check_box :approved 
    %label Articulo Activo
    %span.small_tip
      Para mostrar en pagina principal.
  %br
  
  %p
    = f.check_box :protected_record
    %label Protegido? 
    %span.small_tip
      Articulos protegidos no podran ser deletados del systema.
  %br
  
  %p 
    %label Fecha de Publicacion
    %br
    = f.date_select :published_at, :start_year => Time.now.year-2, :end_year => Time.now.year+2
    %span.small_tip
      Fecha en que el articulo aparecera en la pagina principal en orden de fecha.


%fieldset
  %legend 
    Texto

  %p
    = f.label "Texto Principal (1,000 caracteres)"
    %br
    = f.text_area :short_body, :rows => 30, :cols => 120, :class=>"ckeditor"
  %p
    = render :partial => "/shared/tiny_mce_footer", :locals => {:field_id => "article_short_body"}
  %br
  
    %p
    = f.label "Text Secundario (longo 5,000 caracteres)"
    %br
    = f.text_area :body, :rows => 30, :cols => 120, :class=>"ckeditor"
    

