%p
  = f.label "Titulo"
  %br
  = f.text_field :title, :size => 50
%p
  = f.label "Permalink (automatico)"
  %br
  = f.text_field :permalink, :size => 50
%p
  = f.label "Categoria"
  %br
  = f.select :category, Category::LIST.collect

%p
  = f.label "Autor"
  %br
  = f.text_field :author, {:size => 22, :value => current_user.login}

%br
%p
  = f.check_box :approved
  %label Activo (mostrar en pagina principal)

%p
  = f.check_box :protected_record
  %label Protegido? (Articulos protegidos no podran ser Deletados)

%br
%p
  = f.label "Texto Principal (500 caracteres)"
  %br
  = textile_editor :article, :short_body, :rows => 22, :cols => 100

%p
  = f.label "Text Longo (secundario, 2500 caracteres)"
  %br
  = textile_editor :article, :body, :rows => 22, :cols => 100

%p 
  %label
    Fecha de Publicacion
  %br
  = f.date_select :published_at, :start_year => Time.now.year-2, :end_year => Time.now.year+2


  
%br
#formatting_guide.showhide
  %h3
    Formatting guide
  %table
    %tr
      %th
        To get this effect…
      %th
        Type this…
    %tr
      %td
        %h1
          Header1
      %td
        h1. Header1
    %tr
      %td
        %h2
          Header2
      %td
        h2. Header2
    %tr
      %td
        %h3
          Header3
      %td
        h3. Header3
    %tr
      %td
        %b
          Bold phrase
      %td
        *Bold phrase*
    %tr
      %td
        %i
          Italic phrase
      %td
        _Italic phrase_
      
    %tr
      %td
        %ul
          %li
            Bulleted list
          %li
            Bulleted list
      
      %td
        * Bulleted list
        %br
        * Bulleted list
    
    %tr
      %td
        %ol
          %li
            Numbered list
          %li
            Numbered list
      
      %td
        \# Numbered list
        %br
        \# Numbered list
    
    %tr
      %td
        %blockquote
          Indented block
      %td
        &gt; Indented block 
    %tr
      %td
        <a href="http://www.google.com">Google</a>
      %td
        "Google":http://www.google.com
