%h3= link_to "Crear Articulo", new_admin_article_path 
%table
  %tr
    %th Titulo
    %th Fecha
    %th Activo
    %th
    %th
    %th
  %tr
    - for article in @articles
      %tr
        %td 
          = link_to article.title, edit_admin_article_path(article)
        %td 
          = article.published_at.to_s(:short)
        %td 
          = boolean_to_image_small(article.approved)
        %td 
          = link_to 'Preview', admin_article_path(article)
        %td 
          = link_to 'Editar', edit_admin_article_path(article)
        %td 
          = link_to 'Deletar', admin_article_path(article), :confirm => 'Are you sure?', :method => :delete


= will_paginate @articles

%h3= link_to 'Crear Articulo', new_admin_article_path 
