- @title = "Lista de Articulos"

%h3= link_to "Crear Articulo", new_admin_article_path

%table{:summary => @title, :id => "gradient-style"}
  %caption Lista de Articulos
  %thead
    %tr
      %th ID
      %th Titulo
      %th Fecha
      %th Activo
      %th Lock
      %th
      %th
      %th
      %tr
  %tbody
    - for article in @articles
      %tr{:class => cycle("", "odd", :name => "row_class")}
        %th{:scope=>"row", :id => article.id}
          = link_to article.id, admin_article_path(article)
        %td{:scope=>"row"}
          = link_to article.title, edit_admin_article_path(article)
        %td{:scope=>"row"} 
          = article.published_at.to_s(:short)
        %td{:scope=>"row"}
          = boolean_to_image_small(article.approved)
        %td{:scope=>"row"}
          = boolean_to_image_lock(article.protected_record)
        %td{:scope=>"row"}
          = link_to 'Ver', article_path(article), :target => "blank"
        %td{:scope=>"row"}
          = link_to 'Editar', edit_admin_article_path(article)
        %td{:scope=>"row"}
          = link_to 'Deletar', admin_article_path(article), :confirm => 'Are you sure?', :method => :delete


= will_paginate @articles

%h3= link_to 'Crear Articulo', new_admin_article_path 
