- @title = "Ver Articulo:  #{@article.title}"
%h2= @title

%h4
  Titulo: 
  = @article.title

%h4
  Permalink: 
  = @article.permalink

%h4 
  Tags:
  = @article.tag_list

%h4
  Creado Por:
  = @article.author

%p
  = @article.short_body

%p
  = @article.body

%p 
  %b Activo: 
  = boolean_to_word(@article.approved)
  
%p
  %b Protegido: 
  = boolean_to_word(@article.protected_record) 
  
%p
  %b Permalink:
  = @article.permalink

%p
  %b Fecha de Creacion:
  = @article.created_at.to_s(:long)

%p
  %b Ultimo Update:
  = @article.updated_at.to_s(:long)

= link_to 'Editar', edit_admin_article_path(@article)
|
= link_to 'Volver', admin_articles_path
