<div id="article">
  <div id="formatting_guide" class="showhide" style="display: none;">
    <h2>Formatting guide <a href="#" onclick="new Effect.toggle('formatting_guide','blind');return false;">Close this</a></h2>
    <table>
      <tbody><tr>
        <th>To get this effect…</th>
        <th>Type this…</th>
      </tr>
      <tr>
        <td>
          <strong>Bold phrase</strong>
        </td>
        <td>
          *Bold phrase*
        </td>
      </tr>
      <tr>
        <td>
          <span style="font-style: italic;">Italic phrase</span>
        </td>
        <td>
          _Italic phrase_
        </td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>Bulleted list</li>
            <li>Bulleted list</li>
          </ul>
        </td>
        <td>
            * Bulleted list<br>

            * Bulleted list
        </td>
      </tr>
      <tr>
        <td>
          <ol>
            <li>Numbered list</li>
            <li>Numbered list</li>

          </ol>
        </td>
        <td>
            # Numbered list<br>
            # Numbered list
        </td>
      </tr>
      <tr>
        <td> <blockquote>Indented block</blockquote> </td>
        <td>&gt; Indented block </td>
      </tr>
      <tr>
        <td><a href="http://www.google.com">Google</a></td>
        <td>"Google":http://www.google.com</td>
      </tr>
    </tbody></table>
  </div>
  <h3><label for="article_body">Body</label> 
		Use textile code for formatting - 
		<a href="#" onclick="new Effect.toggle('formatting_guide','blind');return false;">
			formatting guide
		</a>
	</h3>
</div><!--END article-only -->


<table>
	<tr>
		<td><label> </label></td>
		<td><%= error_message_on :article, :title, "Title ", "","inputError" %></td>
	</tr>
	<tr>
		<td><label>Title: </label></td>
  		<td><%= text_field :article, 'title', :size => 20  %></td>
	</tr>

	<tr>
		<td><label>Permalink: </label></td>
  		<td><%= text_field :article, 'permalink', :size => 20  %></td>
	</tr>
	
	<tr>
		<td><label>Categoria: </label></td>
  		<td><%= select :article, :category, Category::LIST.collect %></td>
	</tr>
	
	<tr>
		<td><label>Autor: </label></td>
  		<td><%= text_field :article, :author, { :size => 20, :value => current_user.login} %></td>
	</tr>
	
	<tr>
		<td><label> </label></td>
		<td><%= error_message_on :article, :body, "Body ", "","inputError" %></td>
	</tr>
	
	<tr>
		<td><label>Texto Corto: </label></td>
		<td> <%= textile_editor :article, :short_body -%> </td>
	</tr>
	
	<tr>
		<td><label>Texto: </label></td>
		<td> <%= textile_editor :article, :body -%> </td>
	</tr>
	<tr>
		<td><label>Publicado: </label></td>
  		<td>
			<%= check_box :article, :approved, {:id => "check2", :checked =>"checked"} %>
			<label for="check2"> </label>
		</td>
	</tr>
	<tr>
		<td> <label>Fecha: </label></td>
		<td><%= date_select :article, 'published_at', :start_year => Time.now.year-1, :end_year => Time.now.year+1 %></td>
	</tr>
</table>

<%= textile_editor_initialize -%>

