<% if authorized_admin? %>
	<h1><%= link_to _('New'), new_article_path %> </h1>
<% end %>

<% @articles.each do |article| %>
	<div class="edit_item_menu">
		<% if authorized_admin? %>
			<%= link_to 'Editar', edit_article_path(article) %> | 
			<%= link_to 'Deletar', article, :confirm => 'Are you sure?', :method => :delete %> | 
			<%= link_to 'Crear', new_article_path %> 
		<% end %>
	</div>
	<%= render :partial => "article", :locals => {:article => article} %>
<% end %>

<%= will_paginate @articles %>
