- @articles.each do |article|

  .post
    %h2.title 
      = link_to(article.title, permalink_url(article.permalink))
    %p.created_at_up
      = l(article.published_at, :format => :long)
    .entry
      = article.short_body
      %p.links 
        = link_to("leer mas...", permalink_url(article.permalink), :class => 'more')
        = link_to("Comments",permalink_url(article.permalink), :class => "comments")
        
    /- if !article.tag_list.empty?
    /  %p.item_tags 
    /    Tags: 
    /    - article.tag_list.each do |tag|
    /      = link_to tag, tag_link(tag)

      
%h3 Paginas:
= will_paginate @articles
