= #-*- encoding : utf-8 -*-
- @articles.each do |article|
  %article
    .article
      %header
        .header
          %h1
            = link_to(article.title, permalink_url(article.permalink))
          %time{:datetime=>"#{article.created_at.strftime('%Y-%m-%d')}", :pubdate=>"pubdate"}
            %p.created_at_up
              = l(article.published_at, :format => "%d %B, %Y")
      .entry
        = article.short_body
        %p.links
          = link_to("leer mas...", permalink_url(article.permalink), :class => 'more')
          = link_to("Commentarios",permalink_url(article.permalink), :class => "Commentarios")
      
%h3 Paginas:
= will_paginate @articles, :previous_label => "Anterior", :next_label => "Siguiente"
