/%h2{:style=>"color:blue"}

.middle_headline
  = @article.title

.article

  .paragraph_text

    - if !@article.body.empty?
      = @article.body
    - else
      = @article.short_body

    %p.created_at
      = @article.created_at.strftime("%B %d, %Y")

    - if !@article.tag_list.empty?
      %p.item_tags 
        Tags
        - @article.tag_list.each do |tag|
          = link_to tag, tag_link(tag)

- if !logged_in?
  %p You need to login or register before rating this article
- else
  %p Rate this Article: 

= ratings_for @article

%br

%h4 
  Commentarios
- @comments.each do |t|
  .comment
    %p 
      %u 
        %i
          = user_comment_link(t)
      said:
    %p
      = t.comment


%br
%h4
  Post a comment
  
#thankyou{:style=>"display: none"}
  %p Gracias por su mensage. El mensage esta pendiente a ser autorizado.
  
- remote_form_for(@comment, :url => {:controller => "comments", :action => "create"}, :success => "Element.show('thankyou');ClearForm();Element.hide('new_comment');") do |f|

  = render :partial => "/comments/form", :locals => {:f => f}


