.post
  %h2.title 
    = link_to(@article.title, permalink_url(@article.permalink))
  %p.created_at_up
    = @article.published_at.strftime("%B %d, %Y")
  .entry
    - if !@article.body.empty?
      = @article.body
    - else
      = @article.short_body
    %p.created_at
      = @article.created_at.strftime("%B %d, %Y")
    - if !@article.tag_list.empty?
      %p.item_tags 
        Tags
        - @article.tag_list.each do |tag|
          = link_to tag, tag_link(tag)

= ratings_for @article

%br

%h3 Commentarios
- @comments.each do |t|
  .comment
    %p 
      %u 
        %i
          = user_comment_link(t)
      dijo:
    %p
      = t.comment
    %p.small 
      = @comment.created_at.to_s

%br
%h4
  Deje un Comentario
  
#thankyou{:style=>"display: none"}
  %p Gracias por su mensage. El mensage esta pendiente a ser autorizado.
  
- remote_form_for(@comment, :url => {:controller => "comments", :action => "create"}, :success => "Element.show('thankyou');ClearForm();Element.hide('new_comment');") do |f|

  = render :partial => "/comments/form", :locals => {:f => f}


