%h2{:style=>"color:blue"}
  = @article.title

.article
  %p
    = @article.short_body
  %p
    = @article.body
  %p.created_at
    = @article.created_at.strftime("%B %d, %Y")

  %p.item_tags 
    Tags: 
    - @article.tag_list.each do |tag|
      = link_to tag, tag_link(tag)

- if !logged_in?
  %p You need to login or register before rating this article
- else
  %p Give a rating to this article: 

= ratings_for @article

%br

%h4 
  Commentarios
- @comments.each do |t|
  .comment
    %p 
      %u 
        %i
          = user_comment_link(t)
      said:
    %p
      = t.comment


%br
%h4
  Post a comment
  
#thankyou{:style=>"display: none"}
  %p Gracias por su mensage. El mensage esta pendiente a ser autorizado.
  
- remote_form_for(@comment, :url => {:controller => "comments", :action => "create"}, :success => "Element.show('thankyou');ClearForm();Element.hide('new_comment');") do |f|

  = render :partial => "/comments/form", :locals => {:f => f}


