%article
  .article
    %header
      %time{:datetime=>"#{@article.created_at.strftime('%Y-%m-%d')}" :pubdate=>"pubdate"}
      .header
        %h2
          = link_to(@article.title, permalink_url(@article.permalink))
        %p.created_at_up
          = l(@article.published_at, :format => "%d %B, %Y")
        
    .entry
      - if !@article.body.empty?
        = @article.body
      - else
        = @article.short_body
    %br
    - if !@article.tag_list.empty?
      %p.item_tags 
        Tags
        - @article.tag_list.each do |tag|
          = link_to tag, tag_link(tag)

  %br

  %h3 Commentarios
  - @comments.each do |t|
    .comment
      %p 
        %u 
          %i
            = user_comment_link(t)
        dijo:
      %p
        = t.comment
      %p.small 
        = @comment.created_at.to_s

  %br
  %h4
    Deje un Comentario

  #comment_error{:style=>"display: none"}
    .error
      %p There was an error.
  
  #thankyou{:style=>"display: none"}
    .success
      %p Gracias por su mensaje. El mensaje esta pendiente a ser autorizado.

  #new_comment_form
    - remote_form_for(@comment, :url => {:controller => "comments", :action => "create"}, :failure => "Element.show('comment_error');", :success => "Element.show('thankyou');ClearForm();Element.hide('new_comment_form');") do |f|
      = render :partial => "/comments/form", :locals => {:f => f}


