%h2
  Bienvenido, 
  = Time.now.to_s(:short)

%h3
  Mensages Nuevas: 
  %b= Message.new_messages_count
 
%h3
  Cumpleanos de Hoy:

%ul
  - Birthday.birthdays_today.each do |t|
    %ul
      = t.birthdate.strftime("%b %d")
      \-
      = t.first_name
      = t.last_name

