<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta name="description" content="Comunidad Catolica Latina en Bangkok Tailandia"/>
	<meta name="keywords" content="Comunidad, Catholic, Latin, Latina, Hispano, Bangkok, Tailandia, Thailand, Spanish, Espanol, Espanhol, Misa, Mass, Church, Spanish"/> 
	<meta name="author" content="Comunidad Catolica Latina en Bangkok, Tailandia"/>
	<title> Comunidad Catolica Latina - articles index </title>

	<STYLE type=text/css>
	<!--

	-->
	</STYLE>
	
</head>
<body>

<div id="page">
	
	<div id="col-two">

	<div id="logo">
		<h1><a href="http://www.comunidad-catolica.com/">Comunidad Catolica</a></h1>
		<h2><a href="http://www.comunidad-catolica.com/">Donde los Catolicos Latinos se reunen en Bangkok</a></h2>
	</div>
	<div id="menu">
		<ul>
			<li class="first"><a href="http://www.comunidad-catolica.com" title="Volver a Pagina Principal"><b>Home</b></a></li>

			<li><a href="http://www.comunidad-catolica.com/articulo/quienes-somos" title="Quienes Somos"><b>Quienes Somos</b></a></li>
			<li><a href="http://www.comunidad-catolica.com/users" title=""><b> Lista de Miembros </b></a></li>
			<li><a href="http://www.comunidad-catolica.com/boletines" title=""><b>Boletines</b></a></li>
			<li><a href="http://www.comunidad-catolica.com/articulos" title=""><b>Articulos</b></a></li>
			<li><a href="http://www.comunidad-catolica.com/noticias" title=""><b>Notícias</b></a></li>
			<li><a href="http://www.comunidad-catolica.com/programas" title=""><b>Programas</b></a></li>

			<li><a href="http://www.comunidad-catolica.com/actividades" title=""><b>Actividades</b></a></li>
			<li><a href="http://www.comunidad-catolica.com/cumpleanos" title=""><b>Cumpleaños</b></a></li>
			<li><a href="http://www.comunidad-catolica.com/articulo/contactenos" title=""><b>Contactenos</b></a></li>
			<li><a href="http://www.comunidad-catolica.com/articulo/mapa" title=""><b>Mapa/Como llegar</b></a></li>
			
		</ul>
	</div>
	<div id="search">

	</div>
</div>

	
	<!-- end #col-two -->
	<div id="col-one">
		
		<div id="featured-post">
	<h1> Comunidad Catolica </h1>
	<p> Comunidad Catolica Latina en Bangkok, Tailandia. <br/> <small> “Porque donde hay dos o tres reunidos en mi Nombre, yo estoy presente en medio de ellos”.<b> (Mt 18, 20) </b> </small> </p>

</div>
		
		<div id="latest-posts">
			
			<div class="post">
					
				<div class="story">
					
					<br/>
					<p style="color: green"></p>

					<div class="post">

						<h3> Queridos amigos, Bienvenido al Nuevo Sitio de la Comunidad </h3>
		
						<h3 style="color: green"></p> Informacion de Login y Password para <%= @user.first_name %> <%= @user.middle_name %> <%= @user.last_name %> </h3>
		
						<p style="color: green"> <b>Login : <%= @user.login %></b> </p>
						<p style="color: green"> <b>Password : <%= @user.initial_password %></b> </p>
		
						<p style="color: red"> Entres en el Sitio para hacer Login y cambiar su Informacion Personal.</p>
					</div>
					
				</div>
				
			</div>
			
		</div>
		
	</div>
	<!-- end #col-one -->
	
	<div id="col-three">
	
	
	
	<div class="boxed">
		<h2 class="title">Ultimas Noticias</h2>
		<div class="content">
			<ul>

				
					<li><a href="http://www.comunidad-catolica.com/articulo/hospicio-st-claire">Hospicio St Claire</a></li>
				
					<li><a href="http://www.comunidad-catolica.com/articulo/biblioteca-de-la-comunidad">Biblioteca de la Comunidad</a></li>
				
				<li><a href="http://www.comunidad-catolica.com/noticias"> * Ver Todas...</a></li>
			</ul>
		</div>
	</div>
	
	<div class="boxed">

		<h2 class="title">Cumpleaños del Mes</h2>
		<div class="content">
			<ul>
				
				<li> Sep 09, Papatsara Dabbaransi </li>
				
				<li> Sep 19, Bernardo Mendoza </li>
				
				<li> Sep 15, Ma. Ascencion Walrip </li>

				
				<li> Sep 19, Elisa Cardano </li>
				
				<li> Sep 20, Rosa Luz Chomjandr </li>
				
				<li> Sep 20, Gabriela Chomjandr </li>
				
				<li> Sep 21, Jesus (Padre) Galeote </li>
				
				<li> Sep 21, Miguel (papa) Opacic </li>

				
				<li> Sep 22, Eva Vichukit Sierra </li>
				
				<li> Sep 23, Kelly Irahola </li>
				
				<li> Sep 26, Eliza Ward </li>
				
				<li> Sep 26, Gabriela Opacic </li>
				
				<li> Sep 27, Alfredo Hernandez  </li>

				
				<li> Sep 27, Diego Perez </li>
				
				<li><a href="http://www.comunidad-catolica.com/cumpleanos"> * Ver Todos...</a></li>
			</ul>
		</div>
	</div>
	
	<div class="boxed">
		<h2 class="title">Boletines del Mes:</h2>

		<div class="content">
			<ul>
				
				<li><a href="http://www.comunidad-catolica.com/boletines"> * Ver Todos...</a></li>
			</ul>
		</div>	
	</div>
	
	<div class="boxed">
		<h2 class="title">Actividades Del Mes</h2>

		<div class="content">
			<ul>
				
				<br/>
				<li><a href="http://www.comunidad-catolica.com/actividades"> * Ver Todas...</a></li>
			</ul>
		</div>
	</div>
	

	
	
</div>
<!-- end #col-three -->

	
		<div style="clear: both;">&nbsp;</div>
	<div id="footer">

		<p> Comunidad Catolica Latina en Bangkok </p>
		<p> <p></p> 		<p> <b>“Porque donde hay dos o tres reunidos en mi Nombre, yo estoy presente en medio de ellos”.<b> (Mt 18, 20) <br> <br> Salesian Sisters 124 Saladaeng Road Bangkok 10500 <br> comunidadcatolicabk@gmail.com</b></b></p></p>

	</div>

</div>
<!-- end #page -->


</body>
</html>
