<div id="col-two">
	
	<div id="logo">
		<h1><a href="/">Comunidad Catolica</a></h1>
		<h2><a href="/"> Donde Los Catolicos se reunen en Bangkok</a></h2>
	</div>
	
	<div id="menu">
		<ul>
			<li> <%= link_to "Home", articles_path, :title => "Volver a Pagina Principal" %> </li>
			<li> <%= link_to "Quienes Somos", permalink_url("quienes-somos") %> </li>
			<li> <%= link_to "Miembros", users_path %></li>
			<li> <%= link_to "Boletines", buletins_path %></li>
			<li> <%= link_to "Articulos", articles_path %> </li>
			<li> <%= link_to "Noticias", articles_path %> </li>
			<li> <%= link_to "Eventos", articles_path %> </li>
			<li> <%= link_to "Cumpleaños", birthdays_path %> </li>

			<li> </li>
			<li> <%= link_to "Contactenos", permalink_url("contactenos") %> </li>
			<li> <%= link_to "Mapa/Como llegar", permalink_url("mapa") %> </li>
			
			<li> </li>
			
			<% if logged_in? %>
				<li><%= link_to "Editar mi Información", edit_user_path(User.current_user) %></li>
				<li><a href="/logout">Logout</a></li>
				<% if authorized_admin? %>
					<li><%= link_to "Crear Articulo", new_article_path %></li>
					<li><%= link_to "Upload Boletin", new_buletin_path %></li>
					<li><%= link_to "Adicionar Usuario", new_user_path %></li>
					<li><%= link_to "Adicionar Cumpleaños", new_birthday_path %></li>
				<% end %>
			<% end %>
			
		</ul>
	</div>
	<div id="search">
	</div>
</div>
