<h3>Editing message</h3>

<% form_for(@message, :url => { :action => "update" } ) do |f| %>

  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :subscribed %><br />
    <%= f.check_box :subscribed %>
  </p>
  <p>
    <%= f.label :urgent_contact %><br />
    <%= f.check_box :urgent_contact %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

