- @title = "Mensages Dejadas en el Sitio"

%h3 
  = @title

%table{:summary => @title, :id => "gradient-style"}

  %tr
    %th Nombre
    %th Email
    %th Telefono
    %th Mensage 
    %th Urgente
    %th Fecha
    %th 
    %th 

  - for message in @messages
    %tr{:class => display_bold(!message.message_read)}
      %td= link_to((h message.name),admin_message_path(message))
      %td=h message.email
      %td=h message.phone_number
      %td=h truncate(message.body, 46, "...")
      %td= boolean_to_word(message.urgent_contact)
      %td= link_to(message.created_at.to_s(:short),admin_message_path(message))
      %td= link_to 'Editar', edit_admin_message_path(message)
      %td= link_to 'Deletar', admin_message_path(message), :confirm => 'Estas Seguro que quieres deletar este mensage?', :method => :delete
