- @title = "Mensajes dejadas en el sitio"

%h3 
  = @title

%table{:summary => @title, :id => "gradient-style"}

  %tr
    %th Nombre
    %th Email
    %th Telefono
    %th Mensaje 
    %th Urgente
    %th IP
    %th Spam
    %th Fecha
    %th 
    %th 

  - for message in @messages
    %tr{:class => display_bold(!message.message_read)}
      %td{:class=> "mouse", :onclick => "document.location.href='#{admin_message_path(message)}'"}=h message.name
      %td{:class=> "mouse", :onclick => "document.location.href='#{admin_message_path(message)}'"}=h message.email
      %td{:class=> "mouse", :onclick => "document.location.href='#{admin_message_path(message)}'"}=h message.phone_number
      %td{:class=> "mouse", :onclick => "document.location.href='#{admin_message_path(message)}'"}=h truncate(message.body, :omission => "...", :length => 42)
      %td= boolean_to_word(message.urgent_contact)
      %td= link_to(message.remote_ip.to_s, "http://www.geoiptool.com/en/?IP=#{message.remote_ip}",:target=>"_blank") 
      %td= boolean_to_word(message.marked_spam)
      %td= message.created_at.strftime("%d/%m/%y")
      %td= link_to 'Editar', edit_admin_message_path(message)
      %td= link_to 'Deletar', admin_message_path(message), :confirm => 'Estas Seguro que quieres deletar este mensaje?', :method => :delete
