<table>
	<tr>
		<td> </td>
		<td><%= error_message_on :user, :email, "Email ", "","inputError" %></td>
	</tr>
	<tr>
		<td> <label> Email </label></td>
		<td><%= text_field :user, :email, :size => 32, :type => "email"  %></td>
	</tr>
	<tr>
		<td> </td>
		<td><%= error_message_on :user, :first_name, "Nombre ", "","inputError" %></td>
	</tr>
	<tr>
		<td> <label> Nombre </label></td>
		<td><%= text_field :user, :first_name, :size => 32, :type => "name"  %></td>
	</tr>
	<tr>
		<td> <label> Apellido </label></td>
		<td><%= text_field :user, :last_name, :size => 32, :type => "name"  %></td>
	</tr>
	<tr>
		<td> <label> Apellido Medio </label></td>
		<td><%= text_field :user, :middle_name, :size => 32  %></td>
	</tr>
	<tr>
		<td> <label> Familia </label></td>
		<td><%= text_field :user, :family_name, :size => 32  %></td>
	</tr>
	<tr>
		<td> <label> Nacionalidad </label></td>
		<td><%= text_field :user, :nationality, :size => 32  %></td>
	</tr>
	<tr>
		<td> <label> Parentesco </label></td>
		<td><%= text_field :user, 'family_role', :size => 32  %></td>
	</tr>
	<tr>
		<td> <label> Cumpleaños </label></td>
		<td><%= date_select :user, 'birthday', :start_year => 1940, :end_year => Time.now.year, :type => "date" %></td>
	</tr>
	<tr>
		<td> El año no será mostrado </td>
		<td> </td>
	</tr>
	<tr>
		<td> <label> Estado Civil </label></td>
		<td><%= text_field :user, 'civil_state', :size => 32  %></td>
	</tr>
	<tr>
		<td> <label> Sacramentos </label></td>
		<td><%= text_field :user, 'sacraments', :size => 32  %></td>
	</tr>
	<tr>
		<td> <label> Address 1 </label></td>
		<td><%= text_field :user, 'address1', :size => 32, :type => "address"  %></td>
	</tr>
	<tr>
		<td> <label> Address 2 </label></td>
		<td><%= text_field :user, 'address2', :size => 32, :type => "address"  %></td>
	</tr>
	<tr>
		<td> </td>
		<td><h3>Telefonos </h3></td>
	</tr>
	<tr>
		<td> <label> Casa </label></td>
		<td><%= text_field :user, 'home_phone', :size => 32, :type => "tel"  %></td>
	</tr>
	<tr>
		<td> <label> Mobile </label></td>
		<td><%= text_field :user, 'mobile_phone', :size => 32, :type => "tel"  %></td>
	</tr>
	<tr>
		<td> <label> Trabajo </label></td>
		<td><%= text_field :user, 'office_phone', :size => 32, :type => "tel"  %></td>
	</tr>


	<tr> 
		<td> </td>
	</tr>

	
	<tr>
		<td> </td>
		<td><h3> Información para hacer Login: </h3> </td>
	</tr>
	<tr>
		<td> </td>
		<td><%= error_message_on :user, :login, "Login ", "","inputError" %></td>
	</tr>
	<tr>
		<td> <label> Login </label></td>
		<td><%= text_field :user, :login, :size => 32  %></td>
	</tr>
	<tr>
		<td> </td>
		<td><%= error_message_on :user, :password, "Password ", "","inputError" %></td>
	</tr>
	<tr>
		<td> <label> Password </label></td>
		<td><%= password_field :user, :password, :size => 32  %></td>
	</tr>
	<tr>
		<td> </td>
		<td><%= error_message_on :user, :password_confirmation, "Confirmacion de Password ", "","inputError" %></td>
	</tr>
	<tr>
		<td> <label> Confirmación Password </label></td>
		<td><%= password_field :user, :password_confirmation, :size => 32  %></td>
	</tr>
	<tr>
		<td> <label> Mostrar mi Información Público? </label></td>
		<td><%= check_box :user, :approved, :checked => true %></td>
	</tr>
	
</table>