<table>
	<tr>
		<td> </td>
		
		<td><%= error_message_on :user, :email,
         :prepend_text => "Email  ",
         :append_text => ".",
         :css_class => "inputError" %>
    </td>
	</tr>
	<tr>
		<td> <label> Email </label></td>
		<td><%= text_field :user, :email, :size => 22  %></td>
	</tr>
	
	<tr>
		<td> </td>
		<td>
		  <%= error_message_on :user, :first_name, 
		    :prepend_text => "Nombre ", 
		    :append_text => ".",
		    :css_class => "inputError" %>
		</td>
	</tr>
	<tr>
		<td> <label> Nombre </label></td>
		<td><%= text_field :user, :first_name, :size => 22  %></td>
	</tr>
	
	<tr>
		<td> <label> Apellido </label></td>
		<td><%= text_field :user, :last_name, :size => 22  %></td>
	</tr>
	
	<tr>
		<td> <label> Nacionalidad </label></td>
		<td><%= text_field :user, :nationality, :size => 22  %></td>
	</tr>
	<tr>
		<td> <label> Cumpleaños </label></td>
		<td><%= date_select :user, :birthday, :start_year => 1940, :end_year => Time.now.year %></td>
	</tr>
	
	<tr>
		<td> </td>
		<td> El año no será mostrado </td>
	</tr>
	
	<tr>
		<td> <br /> </td>
		<td> <br /> </td>
	</tr>
	
	<tr>
		<td> <label> Telefono Casa </label></td>
		<td><%= text_field :user, :home_phone, :size => 22  %></td>
	</tr>
	<tr>
		<td> <label> Telefono Mobile </label></td>
		<td><%= text_field :user, :mobile_phone, :size => 22  %></td>
	</tr>


	<tr>
		<td> <br /> </td>
		<td> <br /> </td>
	</tr>

	<tr>
		<td> </td>
		<td><%= error_message_on :user, :login, 
		  :prepend_text => "Login ", 
	    :append_text => ".",
	    :css_class => "inputError" %>
	  </td>
	</tr>
	<tr>
		<td> <label> Login Username </label></td>
		<td><%= text_field :user, :login, :size => 22  %></td>
	</tr>
	<tr>
		<td> </td>
		<td><%= error_message_on :user, :password, 
		    :prepend_text => "Password ", :append_text => ".", :css_class => "inputError" %>
		</td>
	</tr>
	<tr>
		<td> <label> Password </label></td>
		<td><%= password_field :user, :password, :size => 22  %></td>
	</tr>
	<tr>
		<td> </td>
		<td><%= error_message_on :user, :password_confirmation, 
		    :prepend_text => "Confirmacion de Password ", 
		    :append_text => ".",
		    :css_class => "inputError" %>
		</td>
	</tr>
	<tr>
		<td> <label> Confirmación del Password </label></td>
		<td><%= password_field :user, :password_confirmation, :size => 22  %></td>
	</tr>
	
	<tr>
		<td> <br /> </td>
		<td> <br /> </td>
	</tr>
	
	<tr>
		<td> <label> Disponer my información al público? </label></td>
		<td><%= check_box :user, :approved, :checked => true %></td>
	</tr>
	
</table>