<h2>Lista de Usuarios</h2>

<div class="article">
	
	<table class='nice_table'>
		<thead>
			<tr>
				<td class='heading'><%= link_to "Nombre", 	 :sort => "first_name" %></td>
				<td class='heading'><%= link_to "Appellido", :sort => "last_name" %></td>
			</tr>
		</thead>
	
		<tbody>
		<% for user in @users %>
	  	<tr>
			<td class='table_center'><%= link_to user.first_name, :action => 'show', :id => user %> </td>
			<td class='table_center'><%= link_to user.last_name, :action => 'show', :id => user %></td>
		<% end %>
		</tbody>
	
	</table>

</div>

<%= will_paginate @users, :previous_label => "Anterior", :next_label => "Siguiente" %>

<h4> * Registrese para recibir informacion de la Comunidad Catolica.</h4>


<br />

<%= #render :partial => "/shared/members" 
%>