
<% form_for :search, :url => {:action => "search"} do -%>
<table>
	<tr>
		<td><%= text_field :search, :q, :size => 14 %></td>
		<td> <%= submit_tag 'Buscar' %> </td>
	</tr>
</table>
<% end -%>

<% if !@users.to_s.empty? %>
<h2>Usuarios encontrados:</h2>

<table class='report'>
	<thead>
		<tr>
			<td class='heading'><%= link_to "Nombre", 	 :sort => "first_name" %></td>
			<td class='heading'><%= link_to "Appellido", :sort => "last_name" %></td>
			<% if authorized_admin? %>
				<td class='heading'> </td>
				<td class='heading'> </td>
			<% end %>
		</tr>
	</thead>
	
	<tbody>
	<% for user in @users %>
  	<tr class="<%= cycle("light", "dark", :name => "row_class") %>">
		<td class='table_center'><%= link_to user.first_name, :action => 'show', :id => user %> </td>
		<td class='table_center'><%= link_to user.last_name, :action => 'show', :id => user %></td>
		<% if authorized_admin? %>
    		<td class='table_center'><%= link_to 'Edit', :action => 'edit', :id => user %></td>
			<td class='table_center'><%= link_to 'Del', { :action => 'destroy', :id => user }, :confirm => 'Are you sure?', :method => :post %></td>
		<% end %>	
  	</tr>
	<% end %>
	</tbody>
	
</table>

<% end %>