<h2> <%= @user.first_name %> <%= @user.middle_name %> <%= @user.last_name %></h2>

<div class="article">

	<table>
		<tr>
			<td class="label">E-mail: </td>
			<td class="value"><%= h @user.email %> </td>
		</tr>
		<tr>
			<td class="label">Telefono Casa: </td>
			<td class="value"><%= h @user.home_phone %> </td>
		</tr>
		<tr>
			<td class="label">Telefono Mobile: </td>
			<td class="value"><%= h @user.mobile_phone %> </td>
		</tr>
		<tr>
			<td class="label">Telefono Trabajo: </td>
			<td class="value"><%= h @user.office_phone %> </td>
		</tr>
		<tr>
			<td class="label">Address 1: </td>
			<td class="value"><%= h @user.address1 %> </td>
		</tr>
		<tr>
			<td class="label">Address 2: </td>
			<td class="value"><%= h @user.address2 %> </td>
		</tr>
		<tr>
			<td class="label">Ciudad: </td>
			<td class="value"><%= h @user.city %> </td>
		</tr>
		<tr>
			<td class="label">Pais: </td>
			<td class="value"><%= h @user.country %> </td>
		</tr>
		<tr>
			<td class="label">Nacionalidad: </td>
			<td class="value"><%= h @user.nationality %> </td>
		</tr>
		<tr>
			<td class="label">Parentestco: </td>
			<td class="value"><%= h @user.family_role %> </td>
		</tr>
		<tr>
			<td class="label">Estado Civil: </td>
			<td class="value"><%= h @user.civil_state %> </td>
		</tr>
		<tr>
			<td class="label">Cumpleanos: </td>
			<td class="value"><%= h @user.birthday.strftime("%b-%d") %> </td>
		</tr>
		<tr>
			<td class="label">Fecha de Casamiento: </td>
			<td class="value"><%= h @user.married_bday.strftime("%b-%d") if @user.married_bday %> </td>
		</tr>
		<tr>
			<td class="label">Sacramentos: </td>
			<td class="value"><%= h @user.sacraments %> </td>
		</tr>
		<tr>
			<td class="label">Acerca de mi: </td>
			<td class="value"><%= h @user.bio %> </td>
		</tr>

	</table>

</div>

<% if current_user %>
  <p> <%= link_to "Editar my informacion", edit_user_path(current_user) %></p>
<% end %>

<h4> * Registrese para recibir mejor informacion de la Comunidad Catolica.</h4>
	