<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">

<% cache('header') do %>
  <%= render :partial => "/shared/header" %>
<% end %>

<body>

	<div id="header">
			<div id="masthead">
			  <%= image_tag"/images/jesus.jpeg", :class => "logo_image"%>
			  <%= link_to image_tag("/images/logo1.png", :class => "logo_header"), "/" %>
			  <%= link_to image_tag("/images/logo2.png", :class => "logo_header2"), "/" %>

				<ul>
				  <% MenuItem.menus.each do |t| %>
				    <li> <%= menu_item_link(t) %> </li>
				  <% end %>
					<% if !logged_in? %>
						<li> <%= link_to _("Signup"), signup_url %> </li>
						<li> <%= link_to _("Login"), "/login" %> </li>
					<% else %>
						<li><%= link_to "Mi Profile", edit_user_path(current_user) %></li>
						<li><a href="/logout">Logout</a></li>
					<% end %>
				</ul>
			</div>
	</div>

	<div id="main">
	
		<div id="content">
	
			<!-- Side Column -->
			<% cache("side_colum") do %>
			  <%= render :partial => "/shared/theme/#{Settings.theme}/side_column"%>
			<% end %>
		
			<!-- Content -->
			<h2 class="flash_notice">
				<%= render :partial => "/shared/flash_notice" %>
			</h2>
			<div class="artic">
				<%= yield %>
			</div>
		
			<br clear="both"/>
			<p class="blockquote"> 
				"<%= Settings.site_verse %>"
			</p>
			
			<br clear="both"/>
			<%= render :partial => "/shared/google_adsense_hor" %>
		
		</div>
	
	  <% cache('footer') do %>
		  <%= render :partial => "/shared/theme/#{Settings.theme}/footer" %>
	  <% end %>
	
	</div>

  <%= render :partial => "/shared/google_analytics" %>

</body>
</html>