<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<META http-equiv="Content-Language" content="es">
	<meta name="keywords" content=<%= Settings.content_keywords %>/> 
	<meta name="author" content=<%= Settings.content_author %>/>	
	<meta name="title" content=<%= Settings.meta_title %>/>	
	<meta name="description" content="<%= Settings.meta_description %>" />
	<link rel="SHORTCUT ICON" href="<%= Settings.favicon %>">
	<title> <%= Settings.meta_title %> - <%= Settings.logo_subtitle %> </title>
	
	<%= javascript_include_tag :defaults, 'json', 'cookie', :cache => "javascripts" %>
	
	<%= stylesheet_link_tag 'scaffold' %>
	<%= stylesheet_link_tag 'toader/site' %>
	<%= stylesheet_link_tag 'table' %>
	<%= stylesheet_link_tag 'pagination' %>
	<%= stylesheet_link_tag 'fancy' %>
	<%= stylesheet_link_tag 'typography' %>
	
	<%= stylesheet_link_tag 'ajaxful_rating' %>
	<%= ajaxful_rating_style %>
	
	<%= auto_discovery_link_tag(:rss, :action => 'index', :format => "rss") %>
  <%= auto_discovery_link_tag(:atom, :action => 'index', :format => "atom") %>
  
</head>