<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta name="keywords" content=<%= Settings.content_keywords %>/> 
	<meta name="author" content=<%= Settings.content_author %>/>	
	<title> <%= Settings.meta_title %> </title>
	<meta name="description" content="<%= Settings.meta_description %>" />
	<%= stylesheet_link_tag 'scaffold' %>
	<%= stylesheet_link_tag 'toader/site' %>
	<%= stylesheet_link_tag 'table' %>
	<%= stylesheet_link_tag 'pagination' %>
	<%= stylesheet_link_tag 'fancy' %>
	<%= javascript_include_tag 'flash' %>
	<%= javascript_include_tag 'json' %>
	<%= javascript_include_tag 'cookie' %>
	<%= auto_discovery_link_tag(:rss, :action => 'index', :format => "rss") %>
  <%= auto_discovery_link_tag(:atom, :action => 'index', :format => "atom") %>
</head>