<!-- Some integration calls -->
<a href="javascript:;" onmousedown="tinyMCE.get('<%=field_id%>').show();">
  [Show]</a>
<a href="javascript:;" onmousedown="tinyMCE.get('<%=field_id%>').hide();">
  [Hide]</a>
<a href="javascript:;" onmousedown="tinyMCE.get('<%=field_id%>').execCommand('Bold');">
  [Bold]</a>
<a href="javascript:;" onmousedown="alert(tinyMCE.get('<%=field_id%>').getContent());">
  [Get contents]</a>
<a href="javascript:;" onmousedown="alert(tinyMCE.get('<%=field_id%>').selection.getContent());">
  [Get selected HTML]</a>
<a href="javascript:;" onmousedown="alert(tinyMCE.get('<%=field_id%>').selection.getContent({format : 'text'}));">
  [Get selected text]</a>
<a href="javascript:;" onmousedown="alert(tinyMCE.get('<%=field_id%>').selection.getNode().nodeName);">
  [Get selected element]</a>
<a href="javascript:;" onmousedown="tinyMCE.execCommand('mceReplaceContent',false,'<div class='quote'>{$selection}</div>');">
  [Quote]</a>