<h1><%= @event.title %></h1>

<div class="article">
	<p> <label>Empieza:</label> <%= @event.start_date.to_s(:long) %> </p>
	<p> <label>Termina:</label> <%= @event.end_date.to_s(:long) %> </p>
	<p> <label>Prioridad:</label> <%= @event.event_priority %> </p>

	<div class="boxed"> <%= @event.description %> </div>

	<p class="created_at"><%= @event.created_at.to_s(:long) %> </p>

	<% if authorized_admin? %>
		<div class="edit_item_menu">
			<p>
			<%= link_to 'Edit', edit_event_path(@event) %> |
			<%= link_to 'Del', @event, :confirm => 'Are you sure?', :method => :delete %> |
			<%= link_to 'Crear un nuevo Evento', new_event_path %> 
			</p>
		</div>
	<% end %>

</div>