<div class="article">

	<h2> Settings </h2>

	<p> <%= button_to "Reload Site", {:action => "manteinance", :task => "cache"} %> </p>
	<p> <%= button_to "Clean Sessions", {:action => "manteinance", :task => "session"} %> </p>

	<table class="nice_table">
		<tr>
			<td class="heading"> Name </td>
			<td class="heading"> Value </td>
			<td class="heading"> </td>
			<td class="heading"> </td>
		</tr>
  
	<% for setting in @settings %>
		<tr>
		    <td><%= setting.var %></td>
			<td><%= truncate(setting.value, 100, "...") %></td>
		    <td><%= link_to "Edit", edit_setting_path(setting) %></td>
		    <td><%= link_to "Del", setting_path(setting), :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
	<% end %>
	</table>

	<p> <%= link_to "New", new_setting_path %></p>

</div>