
<h2> <%= h @bible.title %> </h2>


<div class="article">
	
	<table class='nice_table'>
		<thead>
			<tr>
				<td class='heading'><%= link_to "Abrev.", 	:sort => "short_name" %></td>
				<td class='heading'><%= link_to "Name", 	:sort => "full_name" %></td>
				<% if logged_in? %>
					<td class='heading'> </td>
					<td class='heading'> </td>
				<% end %>
			</tr>
		</thead>
	
		<tbody>
		<% for apostol in @apostols %>
	  	<tr class="<%= cycle("light", "dark", :name => "row_class") %>">
			<td class='table_center'><%= link_to apostol.short_name.to_s, apostol %> </td>
			<td class='table_center'><%= link_to apostol.full_name.to_s, apostol %> </td>
			<% if logged_in? %>
	    		<td class='table_center'><%= link_to 'Edit', edit_apostol_path(apostol) %></td>
				<td class='table_center'><%= link_to 'Del', apostol, :confirm => 'Are you sure?', :method => :delete %> </td>
			<% end %>	
	  	</tr>
		<% end %>
		</tbody>
	
	</table>

<% if authorized_admin? %>
	<p><%= link_to 'Edit Bible', edit_bible_path(@bible) %></p>
<% end %>

<p><%= link_to 'Back to List', bibles_path %></p>

</div>