<table>
	<tr>
		<td><label> </label></td>
		<td><%= error_message_on :book, :title, "Title ", "","inputError" %></td>
	</tr>
	<tr>
		<td><label>Nombre: </label></td>
  		<td><%= text_field :book, 'title', :size => 32  %></td>
	</tr>
	<tr>
		<td><label> </label></td>
		<td><%= error_message_on :book, :author, "Author ", "","inputError" %></td>
	</tr>
	<tr>
		<td><label>Autor: </label></td>
  		<td><%= text_field :book, :author, :size => 32 %></td>
	</tr>
	<tr>
		<td><label>Editorial: </label></td>
  		<td><%= text_field :book, :editorial, :size => 32 %></td>
	</tr>
	<tr>
		<td> <label>Año Publicado: </label></td>
		<td>
		<%= select :book, :year, years_array %>
		</td>
	</tr>
	<tr>
		<td><label> </label></td>
		<td><%= error_message_on :book, :desc, "Body ", "","inputError" %></td>
	</tr>
	<tr>
		<td><label>Descripción: </label></td>
  		<td><%= text_area :book, :desc, :rows => 22, :cols => 45  %></td>
	</tr>
</table>