<h2> Libros de la Biblioteca de la Comunidad Catolica.</h2>

<h2 class="warning"> EN CONSTRUCCION ... </h2>

<div class="articles">
	
	<% form_for :search, :url => {:action => "search"} do -%>
		<table>
			<tr>
				<td><%= text_field :search, :q, :size => 14 %></td>
				<td> <%= submit_tag 'Buscar Libro' %> </td>
			</tr>
		</table>
	<% end -%>
	
	<table class='nice_table'>
		<thead>
			<tr>
				<td class='heading'><%= link_to "Titulo", 	 :sort => "title" %></td>
				<td class='heading'><%= link_to "Autor", :sort => "author" %></td>
				<td class='heading'><%= link_to "Editorial", :sort => "editorial" %></td>
				<td class='heading'><%= link_to "Año", :sort => "year" %></td>
				<td class='heading'> Descripcion </td>
			</tr>
		</thead>
	
		<tbody>
		<% for book in @books %>
	  	<tr class="<%= cycle("light", "dark", :name => "row_class") %>">
			<td class='table_center'><%= link_to highlight(book.title,@query), book_path(book) %> </td>
			<td class='table_center'><%= highlight(book.author, @query) %></td>
			<td class='table_center'><%= highlight(book.editorial, @query) %></td>
			<td class='table_center'><%= book.year %></td>
			<td><%= truncate(highlight(book.desc, @query), 200, "....") %> <%= link_to("leer mas...", book_path(book)) %></td>
			<% if authorized_admin? %>
	    		<td class='table_center'><%= link_to 'Edit', :action => 'edit', :id => book %></td>
				<td class='table_center'><%= link_to 'Del', book, :confirm => 'Are you sure?', :method => :delete %> </td>
			<% end %>
	  	</tr>
		<% end %>
		</tbody>
	</table>
</div>


<% if authorized_admin? %>
	<div class="edit_item_menu">
		<p><%= link_to 'Adicionar Libro', new_book_path %> </p>
	</div>
<% end %>

<%= will_paginate @books %>

<br />

<h3> Se acepta donaciones de libros. </h3>

<h3> Contactar Hermana Margarita. </h3>

