
<% if @book %>

	<h2 style="color:blue"> <%= @book.title %> </h2>
	
	<div class="article">
		<h3> <%= @book.id %> - <%= @book.title %></h3>
		<p> <label>Author:</label> <%= @book.author %></p>
		<p> <label>Editorial:</label> <%= @book.editorial %></p>
		<p> <label>Año:</label> <%= @book.year %></p>
		
		<pre><%= @book.desc %> </pre>
		
		<% if authorized_admin? %>
			<div class="edit_item_menu">
				<%= link_to 'Editar', edit_book_path(@book) %> | 
				<%= link_to "Deletar", {:action => 'destroy', :id => @book} , :confirm => "Are you sure?", :method => :delete %> | 
				<%= link_to 'Crear', new_book_path %> 
			</div>
		<% end %>
	</div>

<% end %>
