<h3> Adicionar Cumpleaño </h3>

<% form_for :birthday, :url => birthdays_path do |f| %>
	
	<table>
		<tr>
			<td> </td>
			<td><%= error_message_on :birthday, :first_name, "First Name ", "","inputError" %></td>
		</tr>
		<tr>
			<td> <label> Name </label></td>
			<td><%= f.text_field 'first_name', :size => 12  %></td>
		</tr>
		<tr>
			<td> <label> Middle Name </label></td>
			<td><%= f.text_field 'middle_name', :size => 12  %></td>
		</tr>
		<tr>
			<td> <label> Last Name </label></td>
			<td><%= f.text_field 'last_name', :size => 12  %></td>
		</tr>
		<tr>
			<td> <label> Fecha Cumpleaños </label></td>
			<td><%= f.date_select 'birthdate', :start_year => 1940, :end_year => Time.now.year %></td>
		</tr>
	</table>
	<%= f.submit "Crear" %>
<% end %>
