<h1> <%= @apostol.short_name %>  <%= @apostol.full_name %> </h1>

<div class="left_index"> 
	<ul>
		<% @apostols.each do |t| %>
		<li class="box">
				<%= link_to t.short_name, t %>
		</li>
		<% end %>
	</ul>
</div>


<div class="pagination"> 
	<ul>
		<li>
			<%= link_to " << ", :action => "show", :chapter => @previous %>
		</li>	
		<% @chapters.each do |t| %>
			<li>
				<%= link_to t.chapter, :action => "show", :chapter => t.chapter %>
			</li>
		<% end %>
		<li>
			<%= link_to "  >>  ", :action => "show", :chapter => @next %>
		</li>
	</ul>
</div>

<p> 
	<span class="text_chapter">
		<%= @chapter %>
	</span>
	<% @bible_texts.each do |t| %>
		<span class="text_versicle">
			<%= t.versicle %>
		</span>
		<span class="text_body">
			<%= t.body %> 
		</span>
	<% end %>
</p>




<% if authorized_admin? %>
	<%= link_to 'Edit', edit_apostol_path(@apostol) %> |
	<%= link_to 'Back', apostols_path %>
<% end %>