<div id="footer">
	<ul>
		<li> <%= Settings[:site_footer1] %> </li>
		<li> <%= Settings[:site_footer2] %> </li>
		<li> <%= Settings[:site_address] %> </li>
		<li> <%= Settings[:site_email] %> </li>
	</ul>
	<img src="/images/footer_logo.png" alt="" />
	<span class="secreto"> 
  	<%= Settings[:content_keywords] %>
  </span>
</div>