<div class="right_side_column">

	<%= image_tag "iglesia3.png", :class => "iglesia_logo" %>
	
	<div class="search">
  	<% #form_tag({ :controller => "articles", :action => "search" }, :method => 'get') do 
  	%>
      <%= #text_field_tag "query", nil, :size => 17 
      %>
      <%= #submit_tag "Buscar en el Sitio" 
      %>
    <% #end 
    %>
  </div>
	
	<h2> La Comunidad </h2>
	<ul>
		<li> <%= link_to "Quienes Somos", permalink_url("quienes-somos") %> </li>
		<li> <%= link_to "Miembros", users_path %></li>
		<li> <%= link_to "Contactenos", permalink_url("contactenos") %> </li>
		<li> <%= link_to "Dejar Mensage", "/messages/new" %> </li>
		<li> <%= link_to "Mapa/Como llegar", permalink_url("mapa") %> </li>
	</ul>
	
	<ul>
		<li> <%= link_to "RSS Feed", formatted_articles_url(:rss)%></li>
	  <li><%= link_to "ATOM Feed", formatted_articles_url(:atom)%></li>
	</ul>
	
	
	<br />
	<h2> <%= link_to "Cumpleanos del Mes", month_birthdays_path %> </h2>
	<ul>
		<% Birthday.get_this_month.each do |t| %>
			<li>
				<%= link_to("#{t.birthdate.strftime("%b %d")} #{t.first_name} #{t.last_name}",month_birthdays_path) %>
			</li>
		<% end %>
	</ul>
	
<!-- 	
	<br />
	<h2> Popular Tags </h2>
	<ul>
		<% Tag.find(:all, :select => "distinct *").each do |tag| %>
			<li> 
				<%= link_to tag.name, tag_link(tag.name) %>
			</li>
		<% end %>
	</ul>
-->
		
	<br />
	<h2> <%= link_to "Boletines del Mes", buletins_path %> </h2>
	<ul>
		<% Buletin.get_latest.each do |buletin| %>
			<li> 
				<%= link_to buletin.created_at.strftime(" %B %d, %Y "), buletin.public_filename %>
			</li>
		<% end %>
	</ul>
	
	
	<br />
	<h2> Links </h2>
	<ul>
	  <% MenuItem.links.each do |t| %>
	    <li> <%= menu_item_link(t) %> </li>
	  <% end %>
	</ul>
	
	
	<br />
	<br />
	<h2> Sponsored Links </h2>
	<ul>
	  <li> <%= link_to("Penang Hotel", "http://www.hotelmingood.com/") %> </li>
	</ul>
	<%= link_to(image_tag("mingood_hotel.jpg"),"http://www.hotelmingood.com/") %> 
	
	<br />
	<br />
	<h2> Recent Visitors </h2>
  <%= render :partial => "/shared/feedjit" %>

	<br />
	<br />  
  <%= render :partial => "/shared/google_adsense_ver" %>
	
</div>
