<div class="subContent">

	<%= image_tag "iglesia3.png", :class => "iglesia_logo" %>
	
	<div class="search">
  	<% form_tag({ :controller => "articles", :action => "search" }, :method => 'get') do %>
      <%= text_field_tag "query", nil, :size => 16 %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
	
	<h2> La Comunidad </h2>
	<ul>
		<li> <%= link_to "Quienes Somos", permalink_url("quienes-somos") %> </li>
		<li> <%= link_to "Miembros", users_path %></li>
		<li> <%= link_to "Contactenos", permalink_url("contactenos") %> </li>
		<li> <%= link_to "Mapa/Como llegar", permalink_url("mapa") %> </li>
	</ul>
	
	<ul>
		<li> <%= link_to "RSS Feed", formatted_articles_url(:rss)%></li>
	  <li><%= link_to "ATOM Feed", formatted_articles_url(:atom)%></li>
	</ul>
	
	<h2> <%= link_to "Ultimas Noticias.", articles_path %> </h2>
	<ul>
		<% Article.get_latest.each do |article| %>
			<li>
				<%= link_to article.title, permalink_url(article.permalink) %>
			</li>
		<% end %>
	</ul>
	
	<h2> <%= link_to "Cumpleanos del Mes", month_birthdays_path %> </h2>
	<ul>
		<% Birthday.get_this_month.each do |t| %>
			<li>
				<%= t.birthdate.strftime("%b %d") %>, <%= t.first_name %> <%= t.last_name %>
			</li>
		<% end %>
	</ul>
	
	<h2> <%= link_to "Boletines del Mes", buletins_path %> </h2>
	<ul>
		<% Buletin.get_latest.each do |buletin| %>
			<li> 
				<%= link_to buletin.created_at.strftime(" %B %d, %Y "), buletin.public_filename %>
			</li>
		<% end %>
	</ul>
	
	<br />
	<h2> Links </h2>
	<ul>
	  <% MenuItem.links.each do |t| %>
	    <li> <%= menu_item_link(t) %> </li>
	  <% end %>
	</ul>
	
	<%= render :partial => "/shared/google_adsense_ver" %>
	
</div>
