%h2 Editando User

- form_for(:user, :url => admin_user_path(@user), :html => {:method => :put, :multipart => true}) do |f|

  %table
    %tr
      %td
      %td.value= error_message_on :user, :first_name, "Nombre ", "","inputError" 

    %tr
      %td.label Email 
      %td.value= f.text_field 'email', :size => 32

    %tr
      %td.label Nombre 
      %td.value= f.text_field 'first_name', :size => 32  

    %tr
      %td.label Apellido 
      %td.value= f.text_field 'last_name', :size => 32  

    %tr
      %td.label Apellido Medio 
      %td.value= f.text_field 'middle_name', :size => 32  

    %tr
      %td.label Familia 
      %td.value= f.text_field 'family_name', :size => 32  

    %tr
      %td.label Nacionalidad 
      %td.value= f.text_field 'nationality', :size => 32

    %tr
      %td.label Parentesco 
      %td.value= f.text_field 'family_role', :size => 32  

    %tr
      %td.label Cumpleaños 
      %td.value= f.date_select 'birthday', :start_year => 1940, :end_year => Time.now.year 

    %tr
      %td.label Estado Civil 
      %td.value= f.text_field 'civil_state', :size => 32  

    %tr
      %td.label Sacramentos 
      %td.value= f.text_field 'sacraments', :size => 32  

    %tr
      %td.label Address 1 
      %td.value= f.text_field 'address1', :size => 32  

    %tr
      %td.label Address 2 
      %td.value= f.text_field 'address2', :size => 32  

    %tr
      %td.label 
      %td
        %h3 Telefonos

    %tr
      %td.label Casa 
      %td.value= f.text_field 'home_phone', :size => 32  

    %tr
      %td.label Mobile 
      %td.value= f.text_field 'mobile_phone', :size => 32  

    %tr
      %td.label Trabajo 
      %td.value= f.text_field 'office_phone', :size => 32  

    %tr
      %td.label
      %td
        %h3 Información de Login

    %tr
      %td
      %td.value= error_message_on :user, :login, "Nombre ", "","inputError" 

    %tr
      %td.label Login 
      %td.value= f.text_field 'login', :size => 32  

    %tr
      %td
      %td.value= error_message_on :user, :password, "Password ", "","inputError" 

    %tr
      %td.label Password 
      %td.value= f.password_field 'password', {:size => 32, :value => ""}

    %tr
      %td
      %td.value= error_message_on :user, :password_confirmation, "Confirmacion de Password ", "","inputError" 

    %tr
      %td.label Confirmación del Password 
      %td.value= f.password_field 'password_confirmation', {:size => 32, :value => ""}

    %tr
      %td.label Mostrar mi Información al Público? 
      %td.value= f.check_box 'approved', { :selected => @user.approved}



  %p
    = f.submit 'Salvar'
