- @title = "Lista de Usuarios"

%h3 
  = @title

%table{:summary => @title, :id => "itsthetable"}
  %tr
    %th Login
    %th First Name
    %th Last Name
    %th Date
    %th
    %th
    %th
  %tr
    - for user in @users
      %tr
        %td 
          = link_to user.login, edit_admin_user_path(user)
        %td 
          = link_to user.first_name, edit_admin_user_path(user)
        %td 
          = link_to user.last_name, edit_admin_user_path(user) 
        %td 
          = user.created_at.to_s(:short)
        %td 
          = link_to 'Show', admin_user_path(user)
        %td 
          = link_to 'Edit', edit_admin_user_path(user)
        %td 
          = link_to 'Delete', admin_user_path(user), :confirm => 'Are you sure?', :method => :delete


= will_paginate @users

%h3= link_to 'Crear Usuario', new_admin_user_path 