- @title = "Lista de Usuarios"

%h3 
  = @title

%table{:summary => @title, :id => "gradient-style"}
  %tr
    %th Login
    %th Nombre
    %th Apellido
    %th Fecha
    %th
    %th
    %th
  %tr
    - for user in @users
      %tr
        %td{:class=> "mouse", :onclick => "document.location.href='#{admin_user_path(user)}'"}
          =h user.login
        %td{:class=> "mouse", :onclick => "document.location.href='#{admin_user_path(user)}'"} 
          =h user.first_name
        %td{:class=> "mouse", :onclick => "document.location.href='#{admin_user_path(user)}'"}
          =h user.last_name
        %td 
          = user.created_at.strftime("%d %b, %Y")
        %td 
          = link_to 'Ver', admin_user_path(user)
        %td
          = link_to 'Editar', edit_admin_user_path(user)
        %td 
          = link_to 'Deletar', admin_user_path(user), :confirm => 'Estas seguro que quieres deletar este usuario?', :method => :delete


= will_paginate @users, :previous_label => "Anterior", :next_label => "Siguiente"

%h3= link_to 'Crear Usuario', new_admin_user_path 