.article

  %table
    %tr
      %td.label Full Name :
      %td.value
        = @user.first_name
        = @user.middle_name
        = @user.last_name
    %tr
      %td.label login:
      %td.value= @user.login

    %tr
      %td.label E-mail: 
      %td.value= h @user.email

    %tr
      %td.label Phone Home: 
      %td.value= h @user.home_phone 

    %tr
      %td.label Mobile: 
      %td.value= h @user.mobile_phone 

    %tr
      %td.label Office Number: 
      %td.value= h @user.office_phone 

    %tr
      %td.label Address1: 
      %td.value= h @user.address1 

    %tr
      %td.label Address2: 
      %td.value= h @user.address2 

    %tr
      %td.label Nacionalidad: 
      %td.value= h @user.nationality 

    %tr
      %td.label Parentestco: 
      %td.value= h @user.family_role 

    %tr
      %td.label Estado Civil: 
      %td.value= h @user.civil_state 

    %tr
      %td.label Cumpleanos: 
      %td.value= h @user.birthday.strftime("%b-%d") 

    %tr
      %td.label Sacramentos: 
      %td.value= h @user.sacraments 


  %h4
    = link_to 'Crear Nuevo Usuario', new_admin_user_path
    |
    = link_to 'Editar', edit_admin_user_path(@user)
    |
    = link_to 'Volver', admin_users_path