.article

  %p
    %label Nombre
    %label.value= @user.first_name
  %p
    %label Apellido
    %label.value= @user.last_name
  %p  
    %label login
    %label.value= @user.login
  %p
    %label E-mail
    %label.value= h @user.email
  %p
    %label Phone Home
    %label.value= h @user.home_phone 
  %p
    %label Mobile
    %label.value= h @user.mobile_phone 
  %p
    %label Office Number
    %label.value= h @user.office_phone 
  %p
    %label Address1
    %label.value= h @user.address1 
  %p
    %label Address2
    %label.value= h @user.address2 
  %p
    %label Nacionalidad
    %label.value= h @user.nationality 
  %p
    %label Parentestco
    %label.value= h @user.family_role 
  %p
    %label Estado Civil
    %label.value= h @user.civil_state 
  %p
    %label Cumpleanos
    %label.value= h @user.birthday.strftime("%b-%d") 
  %p
    %label Sacramentos
    %label.value= h @user.sacraments 

  %br

  %h4
    = link_to 'Crear Nuevo Usuario', new_admin_user_path
    |
    = link_to 'Editar', edit_admin_user_path(@user)
    |
    = link_to 'Volver', admin_users_path