%p
  = f.label :menu_type 
  %br
  = f.select(:menu_type, MenuItem::MENU_TYPES.collect {|p| p }, { :include_blank => false })
%p
  = f.label :title 
  %br
  = f.text_field :title, :size => 48
%p
  = f.label :url
  %br
  = f.text_field :url, :size => 48
%p
  = f.label :display_order 
  %br
  = f.text_field :display_order, :size => 4, :selected => @menu_item.display_order
%p
  = f.check_box :new_page
  = f.label "Open in new page"

%br

/ %p
/   = f.label :article_id 
/   %br
/   = f.text_field :article_id 