!!! strict
%html
  %head
    %title
      = controller.controller_name
      \-
      = controller.action_name
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }
    = stylesheet_link_tag "blueprint/src/reset.css"
    = stylesheet_link_tag "blueprint/src/grid.css"
    = stylesheet_link_tag "blueprint/src/typography.css"
    = stylesheet_link_tag "blueprint/src/forms.css"
    = stylesheet_link_tag "fancy"
    = stylesheet_link_tag "admin.css"
    = stylesheet_link_tag "admin_pagination"
    = stylesheet_link_tag "admin_scaffold"
    = stylesheet_link_tag "menu"
    = stylesheet_link_tag 'tables/style'
  %body
  
  
  #site
    = link_to(image_tag("/images/logo1.png", :class => "logo_header"), admin_home)
    %br
    = link_to(image_tag("/images/control_panel.png", :class => "logo_header"), admin_home)
    #header
      #dolphincontainer
        #dolphinnav
          %ul
            %li
              = link_to "Usuarios", admin_users_path, :class => is_current_menu("users")
            %li
              = link_to "Articulos", admin_articles_path, :class => is_current_menu("articles")
            %li
              = link_to "Eventos", admin_events_path, :class => is_current_menu("events")
            %li
              = link_to "Settings", admin_settings_path, :class => is_current_menu("settings")
            %li
              = link_to "Boletines", admin_buletins_path, :class => is_current_menu("buletins")
            %li
              = link_to "Menus", admin_menu_items_path, :class => is_current_menu("menu_items")
            %li
              = link_to "Cumpleaños", admin_birthdays_path, :class => is_current_menu("birthdays")
            %li
              = link_to "Mensages", admin_messages_path, :class => is_current_menu("messages")
            %li
              = link_to "Comments", admin_comments_path, :class => is_current_menu("comments")
            %li
              = link_to "Website", "/", :target => "blank"
            %li
              = link_to "Logout", "/logout"
    .clear
    
    #main
      .content
        .flash_notice
          %p= flash[:notice]
        = yield
            
    .clear
    
    %br
    
    %p
      &nbsp;
      Rails-
      = RAILS_GEM_VERSION
      |
      Ruby-
      = RUBY_VERSION
      _p
      = RUBY_PATCHLEVEL
    %p
      &nbsp;
      Completed in: 
      = sprintf('%f', (Time.now.usec - @start_time.usec) / 1000000.0)
      seconds