<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta name="description" content="Comunidad Catolica Latina en Bangkok Tailandia"/>
	<meta name="keywords" content="Comunidad, Catholic, Latin, Latina, Hispano, Bangkok, Tailandia, Thailand, Spanish, Espanol, Espanhol, Misa, Mass, Church, Spanish"/> 
	<meta name="author" content="Comunidad Catolica Latina en Bangkok, Tailandia"/>
	<title> Comunidad Catolica Latina </title>

	<%= stylesheet_link_tag 'theme/pristine/default' %>
	<%= stylesheet_link_tag 'calendar_date_select_red' %>
	<%= stylesheet_link_tag 'niceforms-default' %>
	<%= stylesheet_link_tag 'pagination' %>
	
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "prototype" %>
	<%= javascript_include_tag "scriptaculous" %>
	<%= javascript_include_tag "niceforms" %>
	<%= javascript_include_tag "calendar_date_select" %>
</head>
<body>

<div id="page">
	
	<%= render :partial => "/shared/theme/pristine/column_two" %>
	<!-- end #col-two -->
	<div id="col-one">
		<%= render :partial => "/shared/theme/pristine/welcome" %>
		<div id="latest-posts">
			<div class="post">
				<div class="story">
					<%= yield  %>
				</div>
			</div>
		</div>
	</div>
	<!-- end #col-one -->
	<%= render :partial => "/shared/theme/pristine/column_three" %>
	<%= render :partial => "/shared/theme/pristine/footer" %>
</div>
<!-- end #page -->

</body>
</html>
