<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">

<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta name="keywords" content="Catholic Church, Bangkok, Iglesia Catolica, Latina, Hispano, Tailandia, Thailand, Spanish, Espanol, Misa, Mass"/> 
	<meta name="author" content="Comunidad Catolica Latina en Bangkok, Tailandia"/>	
	<title> </title>
	<meta name="description" content="<%= @meta_description %>" />
	<%= stylesheet_link_tag 'scaffold' %>
	<%= stylesheet_link_tag 'toader/site' %>
	<%= stylesheet_link_tag 'table' %>
	<%= stylesheet_link_tag 'pagination' %>	
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'prototype' %>
	
</head>
<body>

<div id="header">
		<div id="masthead">
			<img src="/images/jesus.jpeg" alt="Comunidad Catolica, Bangkok" />
			<h1> <%= link_to "Comunidad Catolica Latina", "/", :title => "Volver a Pagina Principal" %> </h1>
			<p> <%= link_to "Donde Los Catolicos Latinos se Reúnen en Bangkok.", "/", :title => "Volver a Pagina Principal" %>
			</p>
			<ul>
				<li> <%= link_to "Noticias", articles_path %> </li>
				<li> <%= link_to "Eventos", events_path %> </li>
				<li> <%= link_to "Boletines", buletins_path %></li>
				<li> <%= link_to "Cumpleaños", month_birthdays_path %> </li>
				<li> <%= link_to "Galeria de Fotos", "http://gallery.comunidad-catolica.com" %></li>
				<% if !logged_in? %>
					<li> <%= link_to "Registrarse", signup_url %> </li>
				<% else %>
					<li><%= link_to "Mi Profile", edit_user_path(current_user) %></li>
					<li><a href="/logout">Logout</a></li>
				<% end %>
			</ul>
		</div>
</div>

<div id="main">
	
	<div id="content">
	
		<!-- Side Column -->
		<%= render :partial => "/shared/theme/toader/side_column"%>
		
		<!-- Content -->
		<h2 class="flash_notice"><%= flash[:notice] %></h2>
		<div class="artic">
			<%= yield %>
		</div>
		
		<br clear="both"/>
		<p class="blockquote"> 
			"Porque donde hay dos o tres reunidos en mi Nombre, yo estoy presente en medio de ellos". (Mt 18, 20)
		</p>
		
	</div>
	
	<%= render :partial => "/shared/theme/toader/footer" %>
	
</div>

<% if RAILS_ENV == "production" %>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-737604-12");
		pageTracker._initData();
		pageTracker._trackPageview();
	</script>		
<% end %>

</body>
</html>