<h2>Lista de Boletines</h2>

<div class="article">
	
	<table>
	  <tr>
  		<th><%= link_to "Nombre", 	:sort => "title" %></td>
  		<th><%= link_to "Archivo", 	:sort => "file_name" %></td>
  		<th><%= link_to "Fecha",	:sort => "date" %></td>
  		<th> </td>
  		<th> </td>
		<tr>
	
		<% for buletin in @buletins -%>
	  	<tr class="<%= cycle("light", "dark", :name => "row_class") %>">
			<td class='table_center'><%= buletin.title %> </td>
			<td class='table_center'><%= link_to "Download", buletin.public_filename %> </td>
			<td class='table_center'><%= buletin.created_at.strftime(" %b %d, %Y ") %> </td>
			<% if authorized_admin? %>
	    		<td class='table_center'><%= link_to 'Edit', :action => 'edit', :id => buletin 
				%></td>
				<td class='table_center'><%= link_to 'Del', { :action => 'destroy', :id => buletin }, :confirm => 'Are you sure?', :method => :post 
				%></td>
			<% end %>	
	  	</tr>
		<% end %>
	
	</table>
</div>

<%= will_paginate @buletins %>

<% if authorized_admin? %>

	<h3> Upload Buletin </h3>
	<%= error_messages_for :buletin %>
	<% form_for(:buletin, :url => { :action => 'create' }, :html => { :multipart => true, :class => 'niceform_' }) do |f| -%>

		<table>
			<tr>
				<td><label>Boletin: </label></td>
				<td><%= f.file_field :uploaded_data, :size => 20 %></td>
			</tr>
			<tr>
				<td><label>Nombre: </label></td>
				<td> <%= f.text_field :title, :size => 20 %></td>
			</tr>
			<tr>
				<td><label>Fecha: </label></td>
				<td> <%= f.date_select :created_at, :start_year => 2005 %></td>
			</tr>
			<tr>
				<td> </td>
				<td> <%= submit_tag 'Upload' %> </td>
			</tr>
		</table>
	<% end -%>
	
<% end %>
