<h3>Lista de Boletines</h3>

<div class="article">
	
	<table id="gradient-style">
	  <tr>
  		<th><%= link_to "Nombre", 	:sort => "title" %></td>
  		<th><%= link_to "Archivo", 	:sort => "file_name" %></td>
  		<th><%= link_to "Fecha",	:sort => "date" %></td>
  		<th> </td>
  		<th> </td>
		<tr>
	
		<% for buletin in @buletins -%>
	  	<tr>
			<td class='table_center'><%= buletin.title %> </td>
			<td class='table_center'><%= link_to "Download", buletin.public_filename %> </td>
			<td class='table_center'><%= buletin.created_at.strftime(" %b %d, %Y ") %> </td>
			<% if authorized_admin? %>
	    		<td class='table_center'><%= link_to 'Edit', edit_admin_buletin_path(buletin)	%></td>
				<td class='table_center'><%= link_to 'Del', admin_buletin_path(buletin), :confirm => 'Are you sure?', :method => :delete 
				%></td>
			<% end %>	
	  	</tr>
		<% end %>
	
	</table>
</div>

<%= will_paginate @buletins %>

<h3> Upload Buletin </h3>
<%= error_messages_for :buletin %>

<% form_for(@buletin, :url => admin_buletins_path, :html => { :multipart => true, :class => 'niceform_' }) do |f| %>

	<table>
		<tr>
			<td><label>Boletin: </label></td>
			<td><%= f.file_field :uploaded_data, :size => 20 %></td>
		</tr>
		<tr>
			<td><label>Nombre: </label></td>
			<td> <%= f.text_field :title, :size => 20 %></td>
		</tr>
		<tr>
			<td><label>Fecha: </label></td>
			<td> <%= f.date_select :created_at, :start_year => 2005 %></td>
		</tr>
		<tr>
			<td> </td>
			<td> <%= submit_tag 'Upload' %> </td>
		</tr>
	</table>
	
<% end %>
